.eye {
  position: relative;
  width: 100px;
  height: 100px;
}

.eyeball {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: 484e47;
}

.eye-reflection {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
}
